---
layout: default
image: /img/gallery/IMG_2071.jpg
---
<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover; height: 20rem;">
</div>
<!-- End Hero -->
{% if site.data.show.includeshow %}
	<div class="three-shade-col">
		<div class="col-sm-4">
			<h3>Next Show</h3>
		</div>
		<div class="col-sm-4">
			<h3>
				{{ site.data.show.date }},
				{{ site.data.show.time }}
			</h4>
		</div>
		<div class="col-sm-4">
			<h3>
				<a href="{{ site.data.show.mapLink }}">
					{{ site.data.show.address1 }}<br>
					{{ site.data.show.address2 }}
				</a>
			</h3>
		</div>
	</div>
{% endif %}

<!-- Start About -->
<div id="about" class="about">
	<div class="container-fluid">
		<h2 class="section-title">About Us</h2>
		{% capture about %}{% include about.md %}{% endcapture %}
		{{ about | markdownify }}
	</div>
</div>
<!-- End About -->
<!-- Start support -->
<div id="support" class="support">
	<div class="container-fluid">
		<h2 class="section-title">Ads and Sponsorships</h2> 
		{% capture ads %}{% include ads.md %}{% endcapture %}
		{{ ads | markdownify }}
	</div>
</div>
<!-- End support -->
<!-- Start tickets -->
<div id="tickets" class="tickets">
	<div class="container-fluid">
		<h2 class="section-title">Legal (disclaimers, not actors)</h2>
		{% capture legal %}{% include legal.md %}{% endcapture %}
		{{ legal | markdownify }}
	</div>
</div>
<!-- End tickets -->