---
layout: default
---
{% if site.data.show.includeshow %}
	<div class="three-shade-col">
		{% assign performance1 = site.data.show.performances[0] %}
		{% assign performance2 = site.data.show.performances[1] %}
		{% assign performance3 = site.data.show.performances[2] %}
		{% if performance1 %}
			<div class="col-sm-4">
				<h3>&quot;{{ performance1.title }}&quot;</h3>
				<p>
					{{ performance1.date }}
					{{ performance1.time }}
				</p>
				<p>
					<a href="{{ performance1.mapLink }}" target="_blank"><svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>{{ performance1.location }}</a>
				</p>
			</div>
		{% endif %}
		{% if performance2 %}
			<div class="col-sm-4">
				<h3>&quot;{{ performance2.title }}&quot;</h3>
				<p>
					{{ performance2.date }}
					{{ performance2.time }}
				</p>
				<p>
					<a href="{{ performance2.mapLink }}" target="_blank"><svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>{{ performance2.location }}</a>
				</p>
			</div>
		{% endif %}
		{% if performance3 %}
			<div class="col-sm-4">
				<h3>&quot;{{ performance3.title }}&quot;</h3>
				<p>
					{{ performance3.date }}
					{{ performance3.time }}
				</p>
				<p>
					<a href="{{ performance3.mapLink }}" target="_blank"><svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>{{ performance3.location }}</a>
				</p>
			</div>
		{% endif %}
	</div>
{% endif %}

<!-- Start Home -->
<div id="home" class="home">
	<div class="container-fluid">
		{% capture home %}{% include home.md %}{% endcapture %}
		{{ home | markdownify }}
	</div>
</div>
<!-- End About -->
<!-- Start Home -->
<div id="auditions" class="auditions">
	<div class="container-fluid">
		<h2 class="section-title">Auditions</h2>
		{% capture auditions %}{% include auditions.md %}{% endcapture %}
		{{ auditions | markdownify }}
	</div>
</div>
<!-- End About -->
<!-- Start About -->
<div id="about" class="about">
	<div class="container-fluid">
		<h2 class="section-title">About Us</h2>
		{% capture about %}{% include about.md %}{% endcapture %}
		{{ about | markdownify }}
	</div>
</div>
<!-- End About -->
<!-- Start About the Show -->
<div id="aboutshow" class="aboutshow">
	<div class="container-fluid">
		<h2 class="section-title">About the Show</h2>
		{% capture aboutshow %}{% include aboutshow.md %}{% endcapture %}
		{{ aboutshow | markdownify }}
	</div>
</div>
<!-- End About The Show -->
<!-- Start Tickets -->
<div id="tickets" class="tickets">
	<div class="container-fluid">
		<h2 class="section-title">Tickets</h2>
		{% capture tickets %}{% include tickets.md %}{% endcapture %}
		{{ tickets | markdownify }}
	</div>
</div>
<!-- End Tickets -->
<!-- Start Ads -->
<div id="ads" class="ads">
	<div class="container-fluid">
		<h2 class="section-title">Ads and Sponsorships</h2> 
		{% capture ads %}{% include ads.md %}{% endcapture %}
		{{ ads | markdownify }}
	</div>
</div>
<!-- End Ads -->
<!-- Start legal -->
<div id="legal" class="legal">
	<div class="container-fluid">
		<h2 class="section-title">Legal (disclaimers, not actors)</h2>
		{% capture legal %}{% include legal.md %}{% endcapture %}
		{{ legal | markdownify }}
	</div>
</div>
<!-- End tickets -->
